body {
  margin: 0;
  background-color: #00f;
}
canvas {
  width: 100%;
  height: 100%;
}
#logo {
  vertical-align: middle;
  margin: auto;
  margin-top: 50px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 122.4px;
}
#mainvisual {
  vertical-align: middle;
  margin: auto;
  background-image: url("../images/REMOTEDRINKING.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
}
#link {
  text-align: center;
}
#contact {
  text-align: center;
}
a {
  color: white;
}
a:visited {
  color: white;
}

.calender {
  background-color: brown;
  color: blanchedalmond;
  text-align: center;
}
.participate {
  background-color: white;
  color: red;
  text-align: center;
}
